// Colors
$green: #52bd2d;
$grey: #2e334d;
$blue: #146fc2;
$red: #d73723;
$white: #ffffff;

$green-darker: #3ea919;

// Background-Colors
$bg-green: #ebfaf1;
$bg-soft-green: #b1ebdc;
$bg-grey: #eef1f4;
$bg-blue: #d2dce5;
$bg-red: #fff0ed;

// Outline
$outline-a: #d2dce5;
$outline-b: #c1d2e5;
$outline-c: #353b55;

// Typography
$text-black: #0d1020;
$text-grey-a: #535668;
$text-grey-b: #7a7d8f;
$text-grey-c: #e2e4f0;

$hr: #5e678a;
